In [3]:
import numpy as np
import pandas as pd
import os

In [4]:
os.listdir()

['giant_data.ipynb']

In [5]:
df_train = pd.read_csv("../data/giant_data/train_timeseries/train_timeseries.csv")

In [12]:
df_train[3000:]

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
3000,1001,2008-03-19,20.97,99.45,10.75,17.20,14.38,14.38,24.07,8.23,...,17.07,5.16,6.09,4.40,1.70,9.04,10.36,8.04,2.32,NaN
3001,1001,2008-03-20,0.00,100.82,4.94,10.16,3.63,3.65,17.56,4.69,...,10.12,2.87,4.58,1.78,2.80,5.16,7.91,3.93,3.98,NaN
3002,1001,2008-03-21,0.00,100.70,5.86,11.81,5.87,5.88,20.28,3.35,...,11.86,2.21,2.76,1.34,1.42,4.94,6.99,2.00,4.99,NaN
3003,1001,2008-03-22,0.00,100.24,7.53,14.31,9.68,9.68,22.85,7.67,...,14.34,2.43,3.25,1.54,1.71,4.87,6.92,3.10,3.82,NaN
3004,1001,2008-03-23,0.00,100.75,4.47,8.21,2.26,2.28,15.42,2.75,...,8.35,2.97,4.14,2.43,1.71,5.49,6.79,4.27,2.51,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19300675,56043,2016-12-27,0.16,82.88,1.63,-7.97,-13.49,-12.81,-1.39,-13.60,...,-9.41,5.90,7.63,3.61,4.02,8.58,10.39,5.92,4.47,0.0
19300676,56043,2016-12-28,0.02,83.33,1.41,-8.71,-14.10,-13.84,-2.49,-13.56,...,-10.55,6.50,11.43,4.11,7.32,9.92,14.49,7.26,7.22,NaN
19300677,56043,2016-12-29,0.00,83.75,1.59,-7.96,-13.30,-13.03,0.42,-14.51,...,-10.29,4.29,6.24,2.03,4.22,6.56,10.07,3.20,6.87,NaN
19300678,56043,2016-12-30,1.22,82.49,2.63,-2.94,-7.40,-7.33,3.76,-6.86,...,-4.14,4.98,7.34,1.99,5.35,7.28,10.12,3.24,6.89,NaN
19300679,56043,2016-12-31,0.44,82.19,1.75,-7.56,-11.98,-11.82,-0.95,-11.61,...,-10.17,2.31,3.47,0.41,3.06,3.37,5.26,0.66,4.60,NaN

In [10]:
df_soil_data = pd.read_csv("../data/giant_data/soil_data.csv")

In [11]:
df_soil_data

,fips,lat,lon,elevation,slope1,slope2,slope3,slope4,slope5,slope6,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,1001,32.536382,-86.644490,63,0.0419,0.2788,0.2984,0.2497,0.1142,0.0170,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
1,1005,31.870670,-85.405456,146,0.0158,0.1868,0.5441,0.2424,0.0106,0.0003,...,72.578804,1.828159,74.406960,3,2,1,1,1,1,1
2,1003,30.659218,-87.746067,52,0.0746,0.4370,0.4415,0.0469,0.0000,0.0000,...,59.843639,2.996914,62.840553,3,2,1,2,1,1,1
3,1007,33.015893,-87.127148,93,0.0144,0.1617,0.3714,0.3493,0.0898,0.0134,...,1.916593,0.008330,1.924924,3,2,1,1,1,1,1
4,1009,33.977448,-86.567246,198,0.0050,0.0872,0.2799,0.3576,0.1477,0.1037,...,1.891909,0.027488,1.919397,3,2,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3104,56037,41.660339,-108.875676,2085,0.0016,0.0281,0.1763,0.3554,0.2121,0.2097,...,0.000000,0.000000,0.000000,1,1,3,1,1,1,3
3105,56039,44.049321,-110.588102,2564,0.0003,0.0026,0.0166,0.0722,0.1489,0.5005,...,2.922309,0.000000,2.922309,1,1,1,1,1,1,1
3106,56043,43.878831,-107.669052,1417,0.0034,0.0470,0.2331,0.4099,0.2064,0.0999,...,0.000000,0.000000,0.000000,1,1,1,1,1,1,1
3107,56041,41.284726,-110.558947,2327,0.0050,0.2009,0.4063,0.1858,0.0964,0.1031,...,1.013702,10.755590,11.769293,1,1,2,1,1,1,2
3108,56045,43.846213,-104.570020,1276,0.0158,0.1958,0.6160,0.1688,0.0036,0.0000,...,0.000000,0.007074,0.007074,1,1,2,1,1,1,2